<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Mirella Ruiz Muñoz y Marina González González.
</p>
<li>
<a href="https://github.com/mirellaruiz/quiz_2017.git">REPOSITORIO GITHUB</a>
</li>
<img src="/images/marinaymirella.jpg" />


